body {
    // height: 100vh;
    overflow: hidden;
}
#app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    // position: absolute;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    #server-index {
        // box-sizing: border-box;
        // overflow-y: visible;
        // overflow-x: visible;
        // overflow: none;
        // scrollbar-width: none;
        &::-webkit-scrollbar {
            // display: none;
        }
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202225;
        width: 72px;
        height: auto;
        line-height: 48px;
        .index-item.home {
            color: rgb(220, 221, 222);
            text-align: center;
            font-size: 24px;
        }
        .index-item.server {
            color: rgb(220, 221, 222);
            text-decoration: none;
            text-align: center;
        }
        .index-item {
            user-select: none;
            display: block;
            position: relative;
            width: 48px;
            height: 48px;
            margin-bottom: 8px;
            border-radius: 24px;
            background-color: #36393f;
            transition: border-radius 0.2s, background-color 0.2s, color 0.2s;
            -webkit-transition: border-radius 0.2s, background-color 0.2s, color 0.2s;
        }
        .index-item:hover, .index-item.active {
            border-radius: 16px;
            background-color: #5865f2;
        }
        .index-item:active {
            top: 2px;
        }
        .index-item:active:before {
            transform: translateY(-50%) translateY(-2px);
            left: -16px;
        }
        .index-item:hover:before {
            height: 20px;
            left: -16px;
        }
        .index-item.active:before {
            height: 40px;
            left: -16px;
        }
        .index-item:before {
            content: "";
            display: block;
            background-color: white;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: -20px;
            border-radius: 10px;;
            transform: translateY(-50%);
            transition: height 0.2s, left 0.2s;
            -webkit-transition: height 0.2s, left 0.2s;
        }
        .index-item:hover:after {
            content: attr(name);
            width: max-content;
            display: block;
            background-color: #18191c;
            color: white;
            font-weight: 400;
            font-size: 14px;
            position: absolute;
            left: 140%;
            top: 50%;
            transform: translateY(-50%);
            padding: 8px;
            height: 20px;
            line-height: 20px;
            border-radius: 6px;
            z-index: 5;
        }
        .index-item:active:after {
            transform: translateY(-50%) translateY(-2px);
        }
        .home {
            margin-top: 12px;
        }
        .separator {
            height: 1.5px;
            width: 32px;
            border-radius: 1px;
            background-color: #4f545c7a;
            margin-bottom: 8px;
        }

        #server-join {
            color: rgb(59, 165, 93);
            text-align: center;
            user-select: none;
            font-size: 24px;
            
            cursor: pointer;
        }
        #server-join:before {
            content: none;
        }
        #server-join:hover:after {
            content: "Add a Server";
        }
        #server-join.public:hover:after {
            content: "Explore Public Servers";
        }
        #server-join:hover {
            color: white;
            background-color: rgb(59, 165, 93);
        }
    }

    .logged-in-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        z-index: 10;
    }
}

#app-container {
    .main {
        width: calc(100% - 72px);
        background-color: #36393f;
        display: flex;
        color: white;

        .channel-index {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 240px;
            background-color: rgb(47, 49, 53);
        }

        .main-show {
            width: calc(100% - 240px);
            background-color: #36393f;
        }
    }
}