.server-options {
    position: relative;
    user-select: none;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 12px 16px 12px 16px;
    border-bottom: 1px solid rgb(35, 37, 39);
    box-shadow: 0 0 5px rgb(35, 37, 39);
    transition: all 0.2s;
    span {
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.server-options:hover, .server-options.open {
    background-color: rgb(60, 63, 69);
}

.server-options-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    border-radius: 4px;
    display: block;
    // flex-direction: column;
    width: calc(100% - 16px - 20px);
    $size: height;
    // height: 200px;
    padding: 8px 8px 8px 8px;
    background-color: rgb(24, 25, 28);
    transform-origin: top;
    .dropdown-button {
        position: relative;
        color: rgb(174, 176, 179);
        padding: 6px 8px 6px 8px;
        width: calc(100% - 16px);
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        border-radius: 2px;
        i {
            // font-size: 26px;
            display: block;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.leave {
            color: rgb(237, 66, 69);
        }
    }
    .dropdown-button:hover {
        background-color: rgb(71, 82, 196);
        color: white;
        &.leave {
            background-color: rgb(237, 66, 69);
        }
    }
    .dropdown-button:active {
        background-color: rgb(60, 69, 165);
        &.leave {
            background-color: rgb(161, 45, 47);
        }
    }
}

.server-options-dropdown.options-dropdown-enter {
    // height: 0%;
    // width: 0%;
    // left: 50%;
    transform: scale(0%) translateY(300%);
    // transform: scale(0%) translateY(-$size);
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.server-options-dropdown.options-dropdown-enter-active {
    transform: scale(100%);
    // height: 100%;
    // width: calc(100% - 16px - 20px);
}

.server-options-dropdown.options-dropdown-exit {
    // height: 100%;
    // width: calc(100% - 16px - 20px);
    transform: scale(100%);
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.server-options-dropdown.options-dropdown-exit-active {
    transform: scale(0%) translateY(300%);
    // transform: scale(0%) translateY(-$size);
    // height: 0%;
    // width: 0%;
}