body {
    background-color: #5865f2;
}
#session-form {
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b9bbbe;
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    width: 416px;
    padding: 32px;
    border-radius: 5px;
    user-select: none;
    * {
        border-radius: 5px;
        margin-bottom: 10px;
    }
    h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: white;
    }
    h3 {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 20px;
    }
    input:focus {
        outline: none;
    }
    input {
        background-color: #202225;
        color: white;
        border: transparent;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
    }
    label:first-of-type {
        margin-top: 10px;
    }
    label {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
    }
    a:hover {
        text-decoration: underline;
    }
    a {
        color:#00aff4;
        text-decoration: none;
    }
    .demo {
        text-align: center;
        cursor: pointer;
        margin-bottom: 0;
    }
    button:hover {
        background-color: #4752c4;
    }
    button:active {
        background-color: #3c45a5;
    }
    button {
        background-color: #5865f2;
        border: transparent;
        color: white;
        font-size: 16px;
        height: 44px;
        margin-top: 20px;
        transition: background 0.17s;
        -webkit-transition: background 0.17s;
    }
    p {
        color: #72767d;
        font-size: 14px;
        margin-bottom: 0;
    }
    .required, .invalid, .taken, .short {
        color:#f38688
    }
    .required:after {
        text-transform: none;
        font-style: italic;
        content: ' - This field is required'
    }
    .invalid:after {
        text-transform: none;
        font-style: italic;
        content: ' - Login or password is invalid'
    }
    .taken:after {
        text-transform: none;
        font-style: italic;
        content: ' - Username is already taken'
    }
    .short:after {
        text-transform: none;
        font-style: italic;
        content: ' - Password is too short'
    }

}

#session-form.form-transition-appear {
    opacity: 0;
    top: 30%;
    width: 450px;
}

#session-form.form-transition-appear-active {
    opacity: 1;
    top: 50%;
    width: 416px;
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
